In [233]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [234]:
train_df.head()

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
0,189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,correct
1,189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,correct
2,189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,correct
3,189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,correct
4,189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,correct

In [235]:
train_df['pickup_time']

0         11/1/2019 0:20
1         11/1/2019 0:56
2         11/1/2019 1:08
3         11/1/2019 2:27
4         11/1/2019 3:34
              ...
17171    1/31/2020 22:07
17172    1/31/2020 23:07
17173    1/31/2020 23:21
17174    1/31/2020 23:39
17175    1/31/2020 23:49
Name: pickup_time, Length: 17176, dtype: object

In [236]:
import geopy.distance

coords_1 = (52.2296756, 21.0122287)
coords_2 = (52.406374, 16.9251681)

geopy.distance.distance(coords_1, coords_2).km

279.35290160430094

In [237]:
train_df

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
0,189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,correct
1,189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,correct
2,189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,correct
3,189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,correct
4,189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,correct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17171,213803193,10.5,838.0,93.0,5.4219,451.0,1/31/2020 22:07,1/31/2020 22:21,7.29073,80.6367,7.28891,80.6557,198.26,correct
17172,213812756,10.5,2151.0,428.0,0.0000,39.0,1/31/2020 23:07,1/31/2020 23:43,6.90569,79.8516,6.95089,79.9389,581.23,correct
17173,213813930,10.5,263.0,9.0,0.0000,110.0,1/31/2020 23:21,1/31/2020 23:25,7.09210,79.9000,7.10135,79.9017,76.20,correct
17174,213815405,10.5,858.0,115.0,0.0000,317.0,1/31/2020 23:39,1/31/2020 23:53,6.94540,79.8768,6.93574,79.9010,133.31,correct
17175,213817296,10.5,262.0,21.0,1.2243,23.0,1/31/2020 23:49,1/31/2020 23:53,6.90257,79.9557,6.90823,79.9374,98.57,correct

In [246]:
pre_df = train_df.copy()


import numpy as np
pre_df['label'] = np.where(pre_df['label']== 'correct', 1, 0)

In [247]:
distance = []
for index, row in train_df.iterrows():
    coords_1 = (row['pick_lat'], row['pick_lon'])
    coords_2 = (row['drop_lat'], row['drop_lon'])
    dis = geopy.distance.distance(coords_1, coords_2).km
    distance.append(dis)

In [248]:
df1 = pre_df.pop('label') # remove column b and store it in df1
pre_df = pre_df.assign(dist=pd.Series(distance).values)
pre_df['label'] = df1

In [249]:
pre_df.head()

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,dist,label
0,189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,5.072065,1
1,189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,3.151780,1
2,189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,6.302418,1
3,189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,0.862654,1
4,189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,8.148521,1

In [253]:
pre_df = pre_df.dropna()
pre_df.head(20)

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,dist,label
0,189123628,10.5,834.0,56.0,0.000000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,5.072065,1
1,189125358,10.5,791.0,47.0,0.000000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,3.151780,1
2,189125719,10.5,1087.0,80.0,0.000000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,6.302418,1
3,189127273,10.5,598.0,271.0,15.663800,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,0.862654,1
5,189129552,10.5,3407.0,182.0,0.000000,112.0,11/1/2019 5:38,11/1/2019 6:35,7.13402,79.8969,6.91865,79.8649,1065.02,24.078955,1
6,189132829,10.5,1246.0,487.0,0.000000,133.0,11/1/2019 6:29,11/1/2019 6:49,6.84371,79.9051,6.85069,79.8624,266.62,4.782373,1
7,189135103,10.5,1333.0,295.0,17.198500,212.0,11/1/2019 6:50,11/1/2019 7:12,6.90760,79.9524,6.90634,79.9042,318.05,5.328740,1
8,189139296,10.5,360.0,80.0,4.664000,3.0,11/1/2019 7:00,11/1/2019 7:06,7.26706,80.6064,7.27422,80.6124,100.32,1.032484,1
9,189138671,10.5,1539.0,588.0,33.986400,43.0,11/1/2019 7:02,11/1/2019 7:28,6.85137,79.9537,6.84779,79.9274,257.89,2.933782,1
10,189135814,10.5,26.0,19.0,0.000000,73.0,11/1/2019 7:27,11/1/2019 7:27,7.00355,79.8819,7.13279,79.8868,694.37,14.303041,0
11,189140969,10.5,31.0,20.0,0.000000,130.0,11/1/2019 7:42,11/1/2019 7:42,6.90871,79.8978,6.91368,79.8572,235.59,4.520488,0
12,189144528,10.5,2011.0,199.0,0.000000,165.0,11/1/2019 7:44,11/1/2019 8:17,6.82278,79.9527,6.87241,79.8835,452.39,9.414220,1
13,189147041,10.5,1260.0,30.0,0.000000,9.0,11/1/2019 7:44,11/1/2019 8:05,7.12626,79.9817,7.12290,79.9687,111.21,1.483350,0
14,189145904,10.5,335.0,10.0,0.583000,17.0,11/1/2019 7:45,11/1/2019 7:51,6.85268,79.8631,6.86560,79.8640,126.87,1.432283,1
15,189146174,10.5,4221.0,1608.0,84.214600,72.0,11/1/2019 7:48,11/1/2019 8:58,6.97132,79.9606,6.93615,79.8470,672.87,13.142225,1
16,189150541,10.5,1472.0,219.0,12.699976,413.0,11/1/2019 8:14,11/1/2019 8:38,7.11422,80.0033,7.10365,80.0485,305.22,5.128222,1
17,189153229,10.5,284.0,0.0,0.000000,82.0,11/1/2019 8:17,11/1/2019 8:21,7.29860,80.6266,7.29507,80.6375,95.31,1.265349,1
18,189151585,10.5,2435.0,381.0,0.000000,186.0,11/1/2019 8:23,11/1/2019 9:04,6.79589,79.8916,6.88183,79.8666,461.25,9.897675,1
19,189157464,10.5,891.0,170.0,0.000000,57.0,11/1/2019 8:39,11/1/2019 8:54,6.80125,79.9007,6.82305,79.8952,226.54,2.486336,1
21,189157476,10.5,3176.0,390.0,0.000000,269.0,11/1/2019 8:41,11/1/2019 9:34,6.79325,79.9257,6.92526,79.8520,692.75,16.717856,1

In [259]:
pre_df.loc[pre_df['additional_fare'] == 40.5]

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,dist,label
810,190065135,40.5,3504.0,1756.0,101.49680,44.0,11/5/2019 16:47,11/5/2019 17:45,6.90721,79.8583,6.90884,79.9226,509.50,7.108511,1
908,190162286,40.5,2721.0,472.0,0.00000,23.0,11/6/2019 9:01,11/6/2019 9:46,6.85162,79.8653,6.94000,79.8783,528.64,9.879005,1
1023,190244554,40.5,3662.0,297.0,17.18613,88.0,11/6/2019 17:22,11/6/2019 18:23,6.93254,79.8430,7.04784,79.8867,707.55,13.634792,1
1192,190391124,40.5,2172.0,710.0,28.26420,94.0,11/7/2019 13:10,11/7/2019 13:46,6.93452,79.8893,6.92048,79.9728,825.70,9.357486,0
1511,190888167,40.5,884.0,134.0,0.00000,87.0,11/8/2019 23:23,11/8/2019 23:37,6.91222,79.8497,6.91328,79.8904,246.22,4.499513,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17074,213606204,40.5,602.0,1.0,0.00000,330.0,1/31/2020 14:15,1/31/2020 14:25,6.87943,79.8622,6.87387,79.8813,155.50,2.198735,1
17109,213658933,40.5,545.0,91.0,0.00000,199.0,1/31/2020 16:15,1/31/2020 16:24,6.91979,79.8589,6.90740,79.8591,128.24,1.370393,1
17130,213689462,40.5,4310.0,1314.0,75.94920,469.0,1/31/2020 17:22,1/31/2020 18:34,6.91819,79.8627,6.83700,79.8947,902.02,9.650277,0
17131,213703973,40.5,913.0,445.0,0.00000,47.0,1/31/2020 17:39,1/31/2020 17:54,7.29842,80.6363,7.30808,80.6399,534.00,1.139882,0
17166,213795752,40.5,1859.0,1856.0,108.20480,298.0,1/31/2020 21:22,1/31/2020 21:53,7.31843,80.6249,7.31851,80.6249,208.70,0.008847,0

In [254]:
pre_df.corr()
# plt.figure(figsize=(12,10))
# # cor = pre_df.corr()
# sns.heatmap(cor, annot=True, cmap=plt.cm.Reds)
# plt.show()
# cor_target = abs(cor["label"])
# #Selecting highly correlated features
# relevant_features = cor_target[cor_target>0.1]
# relevant_features.index.tolist()

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pick_lat,pick_lon,drop_lat,drop_lon,fare,dist,label
tripid,1.000000,0.019134,-0.019753,-0.016872,-0.017291,-0.017930,0.028994,0.029901,0.006327,0.030312,-0.014647,-0.009832,0.069251
additional_fare,0.019134,1.000000,-0.000774,0.197606,0.199606,0.002352,0.009120,0.000612,0.004642,0.001532,0.315285,-0.000432,-0.041040
duration,-0.019753,-0.000774,1.000000,0.969788,0.968667,0.040577,-0.027081,-0.025590,-0.015969,-0.013603,0.865256,0.012843,-0.113149
meter_waiting,-0.016872,0.197606,0.969788,1.000000,0.999474,0.030450,-0.016167,-0.014196,-0.010114,-0.007895,0.870126,0.004341,-0.107379
meter_waiting_fare,-0.017291,0.199606,0.968667,0.999474,1.000000,0.029911,-0.015009,-0.012467,-0.009426,-0.006794,0.865073,0.003900,-0.103418
meter_waiting_till_pickup,-0.017930,0.002352,0.040577,0.030450,0.029911,1.000000,0.011381,0.016483,0.006942,0.011047,0.045468,0.003071,-0.035546
pick_lat,0.028994,0.009120,-0.027081,-0.016167,-0.015009,0.011381,1.000000,0.519962,0.558312,0.336847,-0.024726,0.009855,-0.027702
pick_lon,0.029901,0.000612,-0.025590,-0.014196,-0.012467,0.016483,0.519962,1.000000,0.304976,0.651794,-0.035472,0.005582,-0.038129
drop_lat,0.006327,0.004642,-0.015969,-0.010114,-0.009426,0.006942,0.558312,0.304976,1.000000,-0.420574,-0.015615,0.822041,-0.011633
drop_lon,0.030312,0.001532,-0.013603,-0.007895,-0.006794,0.011047,0.336847,0.651794,-0.420574,1.000000,-0.014981,-0.742651,-0.030311
fare,-0.014647,0.315285,0.865256,0.870126,0.865073,0.045468,-0.024726,-0.035472,-0.015615,-0.014981,1.000000,0.033566,-0.183861
dist,-0.009832,-0.000432,0.012843,0.004341,0.003900,0.003071,0.009855,0.005582,0.822041,-0.742651,0.033566,1.000000,0.000717
label,0.069251,-0.041040,-0.113149,-0.107379,-0.103418,-0.035546,-0.027702,-0.038129,-0.011633,-0.030311,-0.183861,0.000717,1.000000

In [263]:
selected_features = ['additional_fare', 'duration', 'meter_waiting', 'meter_waiting_fare', 'meter_waiting_till_pickup', 'fare', 'dist', 'label']

filtered_df = pre_df[selected_features]
filtered_df

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,fare,dist,label
0,10.5,834.0,56.0,0.0000,64.0,270.32,5.072065,1
1,10.5,791.0,47.0,0.0000,134.0,197.85,3.151780,1
2,10.5,1087.0,80.0,0.0000,61.0,301.64,6.302418,1
3,10.5,598.0,271.0,15.6638,68.0,82.30,0.862654,1
5,10.5,3407.0,182.0,0.0000,112.0,1065.02,24.078955,1
...,...,...,...,...,...,...,...,...
17171,10.5,838.0,93.0,5.4219,451.0,198.26,2.107720,1
17172,10.5,2151.0,428.0,0.0000,39.0,581.23,10.865770,1
17173,10.5,263.0,9.0,0.0000,110.0,76.20,1.040065,1
17174,10.5,858.0,115.0,0.0000,317.0,133.31,2.879804,1
17175,10.5,262.0,21.0,1.2243,23.0,98.57,2.117115,1

In [264]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn import metrics

X_train, X_test, y_train, y_test = train_test_split(filtered_df.drop('label',axis=1), 
           filtered_df['label'], test_size=0.25, random_state=10)


# X_train_orig, X_test_orig, y_train_orig, y_test_orig = train_test_split(pre_df.drop(['label', 'pickup_time', 'drop_time', 'tripid'],axis=1), 
#            pre_df['label'], test_size=0.30, random_state=10)

In [63]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification


clf = RandomForestClassifier(n_estimators = 1000, oob_score = True ,n_jobs = 1,random_state =1, 
                             class_weight="balanced", bootstrap=True, max_depth=15, 
                             max_features=4, min_samples_leaf=4, min_samples_split=5)

clf.fit(X_train, y_train)
y_pred_random_forest = clf.predict(X_test)
print(classification_report(y_test,y_pred_random_forest))

print(metrics.f1_score(y_test, y_pred_random_forest, average='macro'))

              precision    recall  f1-score   support

           0       0.69      0.69      0.69       391
           1       0.97      0.97      0.97      3851

    accuracy                           0.94      4242
   macro avg       0.83      0.83      0.83      4242
weighted avg       0.94      0.94      0.94      4242

0.8282618275480886

In [101]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import QuantileTransformer
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import Normalizer

rb_scal = QuantileTransformer()
rb_scal.fit(X_train) 
x_train_meth = rb_scal.transform(X_train)
x_test_meth = rb_scal.transform(X_test)

In [111]:
from sklearn.model_selection import GridSearchCV 
param_grid = {
 'learning_rate':[i/10.0 for i in range(0,5)]
}

grid_xgb = GridSearchCV(XGBClassifier(
 learning_rate =0.1,
 n_estimators=1000,
 max_depth=2,
 min_child_weight=1,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.9,
 objective= 'multi:softprob',
 nthread=8,
 scale_pos_weight=1,
 reg_alpha= 1e-05,
 seed=27,
num_class =2), param_grid, refit = True, verbose = 3, cv=3) 
grid_xgb.fit(X_train, y_train)

Fitting 3 folds for each of 5 candidates, totalling 15 fits
[CV] learning_rate=0.0 ...............................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] ................... learning_rate=0.0, score=0.089, total=   2.2s
[CV] learning_rate=0.0 ...............................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.2s remaining:    0.0s

[CV] ................... learning_rate=0.0, score=0.089, total=   2.0s
[CV] learning_rate=0.0 ...............................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    4.2s remaining:    0.0s

[CV] ................... learning_rate=0.0, score=0.089, total=   2.0s
[CV] learning_rate=0.1 ...............................................
[CV] ................... learning_rate=0.1, score=0.946, total=   2.0s
[CV] learning_rate=0.1 ...............................................
[CV] ................... learning_rate=0.1, score=0.945, total=   2.1s
[CV] learning_rate=0.1 ...............................................
[CV] ................... learning_rate=0.1, score=0.940, total=   2.0s
[CV] learning_rate=0.2 ...............................................
[CV] ................... learning_rate=0.2, score=0.946, total=   2.1s
[CV] learning_rate=0.2 ...............................................
[CV] ................... learning_rate=0.2, score=0.942, total=   2.1s
[CV] learning_rate=0.2 ...............................................
[CV] ................... learning_rate=0.2, score=0.940, total=   2.0s
[CV] learning_rate=0.3 ...............................................
[CV] ................... learning_rate=0.3, score=0.947, total=   2.2s
[CV] learning_rate=0.3 ...............................................
[CV] ................... learning_rate=0.3, score=0.942, total=   2.1s
[CV] learning_rate=0.3 ...............................................
[CV] ................... learning_rate=0.3, score=0.940, total=   2.3s
[CV] learning_rate=0.4 ...............................................
[CV] ................... learning_rate=0.4, score=0.944, total=   2.1s
[CV] learning_rate=0.4 ...............................................
[CV] ................... learning_rate=0.4, score=0.942, total=   2.3s
[CV] learning_rate=0.4 ...............................................
[CV] ................... learning_rate=0.4, score=0.938, total=   2.1s

[Parallel(n_jobs=1)]: Done  15 out of  15 | elapsed:   31.6s finished

GridSearchCV(cv=3, error_score=nan,
             estimator=XGBClassifier(base_score=None, booster=None,
                                     colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=0.9, gamma=0, gpu_id=None,
                                     importance_type='gain',
                                     interaction_constraints=None,
                                     learning_rate=0.1, max_delta_step=None,
                                     max_depth=2, min_child_weight=1,
                                     missing=nan, monotone_constraints=None,
                                     n_estimators=1000,...
                                     num_class=2, num_parallel_tree=None,
                                     objective='multi:softprob',
                                     random_state=None, reg_alpha=1e-05,
                                     reg_lambda=None, scale_pos_weight=1,
                                     seed=27, subsample=0.8, tree_method=None,
                                     validate_parameters=False,
                                     verbosity=None),
             iid='deprecated', n_jobs=None,
             param_grid={'learning_rate': [0.0, 0.1, 0.2, 0.3, 0.4]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [112]:
grid_xgb.best_params_, grid_xgb.best_score_

({'learning_rate': 0.1}, 0.9437372308659437)

In [275]:
from xgboost.sklearn import XGBClassifier
xgb1 = XGBClassifier(
 learning_rate =0.2,
 n_estimators=1000,
 max_depth=2,
 min_child_weight=1,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.9,
 objective= 'binary:logistic',
 nthread=4,
 scale_pos_weight=1,
 seed=27,
 reg_alpha= 1e-05)
xgb1.fit(X_train, y_train,eval_metric='auc')
xgb_predictions = xgb1.predict(X_test)

print(classification_report(y_test,xgb_predictions))
print(metrics.f1_score(y_test, xgb_predictions, average='weighted'))
print(confusion_matrix(y_test, xgb_predictions))

              precision    recall  f1-score   support

           0       0.86      0.58      0.69       391
           1       0.96      0.99      0.97      3851

    accuracy                           0.95      4242
   macro avg       0.91      0.79      0.83      4242
weighted avg       0.95      0.95      0.95      4242

0.9484073609845443
[[ 227  164]
 [  37 3814]]

In [ ]:
              precision    recall  f1-score   support

           0       0.86      0.58      0.69       391
           1       0.96      0.99      0.97      3851

    accuracy                           0.95      4242
   macro avg       0.91      0.79      0.83      4242
weighted avg       0.95      0.95      0.95      4242

0.9484073609845443
[[ 227  164]
 [  37 3814]]

In [178]:
test_df.head()

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare
0,213284604,10.5,924,42,2.4486,148,2/1/2020 0:38,2/1/2020 0:53,6.83454,79.8750,6.77490,79.8840,289.27
1,213286352,10.5,4249,20,0.0000,91,2/1/2020 1:02,2/1/2020 2:13,6.91168,79.8723,6.55091,79.9706,1912.70
2,213293973,10.5,1552,255,2.6588,23,2/1/2020 5:02,2/1/2020 5:28,6.92145,79.8478,6.90539,79.8989,394.00
3,213294622,10.5,462,16,0.0000,198,2/1/2020 5:30,2/1/2020 5:38,6.77433,79.9416,6.80401,79.9407,154.32
4,213298687,10.5,814,392,12.3692,69,2/1/2020 7:00,2/1/2020 7:14,6.97968,79.9130,6.98875,79.8914,147.47

In [276]:
distance_test = []
for index, row in test_df.iterrows():
    coords_1 = (row['pick_lat'], row['pick_lon'])
    coords_2 = (row['drop_lat'], row['drop_lon'])
    dis = geopy.distance.distance(coords_1, coords_2).km
    distance_test.append(dis)

In [277]:
pre_test = test_df.copy()
pre_test = pre_test.assign(dist=pd.Series(distance_test).values)

In [280]:
filtered_test_df = pre_test[['additional_fare', 'duration', 'meter_waiting', 'meter_waiting_fare', 'meter_waiting_till_pickup', 'fare', 'dist']]
filtered_test_df

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,fare,dist
0,10.5,924,42,2.44860,148,289.27,6.670189
1,10.5,4249,20,0.00000,91,1912.70,41.351053
2,10.5,1552,255,2.65880,23,394.00,5.920044
3,10.5,462,16,0.00000,198,154.32,3.283813
4,10.5,814,392,12.36920,69,147.47,2.588982
...,...,...,...,...,...,...,...
8571,10.5,1723,429,24.83332,3,388.48,3.938380
8572,10.5,1378,80,0.00000,125,379.85,7.525493
8573,10.5,418,56,3.28440,93,112.79,2.046036
8574,10.5,1604,548,31.67440,17,248.46,3.898144
8575,10.5,1698,691,32.88820,42,339.63,5.408968

In [281]:
xgb_test_preds = xgb1.predict(filtered_test_df)

In [282]:
sub_df = pd.DataFrame({'tripid': test_df['tripid'].values, 'prediction': xgb_test_preds})

In [283]:
sub_df.head(20)

       tripid  prediction
0   213284604           1
1   213286352           1
2   213293973           1
3   213294622           1
4   213298687           1
5   213299545           1
6   213302332           1
7   213302671           1
8   213305594           1
9   213305134           1
10  213306304           1
11  213308616           1
12  213309839           1
13  213310068           0
14  213309032           1
15  213310105           1
16  213311364           1
17  213309929           1
18  213310221           1
19  213312453           1

In [284]:
sub_df.to_csv("sub_2.csv", index=False)